<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Gameboard</title>
</head>
<body>
    <br>
    <h3>Would you like to play a game?</h3>
    <div class="board">
        {% for x in range(0, tilesX): %}
        <div class="row">
            {% for y in range(0, tilesY): %}
                {% if ((y+x) % 2) == 0 %}
                    <div class ="box" style = "background-color: {{color1}};"></div>
                {% else %}
                    <div class ="box" style = "background-color: {{color2}};"></div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>
</html>

<!-- {% for y in range(0, tilesY): %}
<div class ="box" style = "background-color: {{color1}};"></div>
<div class ="box" style = "background-color: {{color2}};"></div>
{% endfor %} -->



