<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Dashboard</title>
</head>
<body class='w-75 m-auto bg-dark text-light'>
    <div id = "mynavbar" class="d-flex row justify-content-end">
        <div class="d-flex row align-items-center">
        <a class="ml-5" href='/paintings/new'>Add a painting</a>
        <a class="ml-5" href='/paintings'>Dashboard</a>
        <form class='ml-5 mt-3' action='/logout'>
            <button type='submit' class='btn btn-primary'>Log out</button>
        </form>
        </div>
    </div>

<div class="w-50">

    <div class="d-flex row justify-content-between">
        <h4>Paintings</h4>
    </div>

<table class="table table-striped borderless">
    <thead class= 'thead-dark'>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope='col'></th>
    </tr>
    </thead>
    <tbody>
    {% for painting in paintings %}
    <tr>
        <td><a href="/paintings/{{ painting.id }}">{{ painting.title }}</td>
        <td>{{ painting.first_name }} {{ painting.last_name }}</td>
        <td>
            {% if painting.user_id == session.user.id %}
            <input type='hidden' name = 'id' value='{{ painting.id }}'>
            <a href="/paintings/{{ painting.id }}/edit" class='btn btn-secondary'>Edit</a> - 
            <a href="/paintings/{{ painting.id }}/delete" class='btn btn-danger'>Remove</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <p class = "mt-1 flashbox {{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>