#main {
    background-color: darkgrey;
    height: 100vh;
}

#reset {
    border: 2px solid black;
}

.roomBox {
    width: 250px;
    height: 200px;
    background-color: grey;
    border: 3px solid black;
    border-radius: 15px;
    text-align:center;
}

.roomBox h3 {
    font-weight: bolder;
    color: black;
    text-decoration: underline;
}

.roomBox p {
    font-weight: bolder;
    color: black;
}

.goldBox {
    text-align: center;
    font-size: small;
    padding: 5px;
    background-color: rgb(92, 36, 3);
    color: gold;
    border: 2px solid black;
    border-bottom: 5px solid black;
    border-radius: 15px 15px 0px 0px;
    width: 50px;
    margin: 0 10px;
}

.goldbox:hover {
    box-shadow: 5px, 5px, 10px, gold;
}

#statBar {
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(143, 82, 82);
    border: 3px solid black;
}

#statBar p {
    font-family: cursive;
    font-size: large;
    text-decoration: underline;
}

#roomsRow {
    padding-top: 25px;
    justify-content: space-evenly;
}

#farm {
    background-color: green;
}

#cave{
    background-color: darkslategrey;
}

#house{
    background-color: brown;
}

#casino{
    background-color: goldenrod;
}

#historyBar {
    border: 3px solid white;
    background-color: black;
    margin: 50px auto;
    padding: 5px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    overflow: scroll;
}

#historyBar p {
    color: green;
    font-family: monospace;
    padding: 0;
    margin: 0;
}