* {
    margin: 0;
}

#container {
    width: 100%;
    height: 400px;
    background-color:darksalmon;
}

body {
    margin: 0;
}

.paragraph {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 0px 10px 20px 10px;
    display: inline;

}